default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username:
  password:
  host: mysql
  port: 3306

development:
  <<: *default
  database: insta-task_development

test:
  <<: *default
  database: insta-task_test

production:
  <<: *default
  database: insta-task_production
  username: insta-task
  password: <%= ENV['INSTA-TASK_DATABASE_PASSWORD'] %>
